@model Negocio.Empleador.ListOC

@{
    ViewBag.Title = "Verificar_Orden_Compra";
    Layout = "~/Views/Shared/Layout_Usuarios/_Layout_Factura.cshtml";
}


    <div class="container mt-3 p-5" style="background-color: #f5f5f5">
        <div class="row">
            <div class="col-md-6">
                <h1><strong>Hostal Doña Clarita</strong></h1>
            </div>

            <div class="col-md-6">
                <div class="text-center">
                    <h1 class="text-warning display-3"><strong>Factura</strong></h1>
                </div>
            </div>

            <div class="col-md-6">
                <div class="text-left">
                    <h4>PARA:</h4>
                    <h5>Nombre Empresa:     @Html.DisplayFor(model => model.NOMBRE_EMPRESA)</h5>
                    <h5>Rut Empresa:           @Html.DisplayFor(model => model.RUT_E)</h5>
                    <h5>Telefono:      @Html.DisplayFor(model => model.TELEFONO_empresa)</h5>

                    <h5>
                        Rut Huesped:     @Html.DisplayFor(model => model.RUT_H)    <h5>Nombre de Huesped:     @Html.DisplayFor(model => model.NOMBRE_H) @Html.DisplayFor(model => model.APELLIDOPATERNO_H) </h5>
                    </h5>

                </div>
            </div>


            <div class="col-md-6">
                <div class="text-left">
                    <h5 class=" text-warning">N° Factura:</h5><h5>   @Html.DisplayFor(model => model.Num_OC)</h5>
                    <h5 class=" text-warning">Fecha entrada: </h5><h5>    @Html.DisplayFor(model => model.Fecha_Entrada) </h5>
                    <h5 class=" text-warning">Fecha salida:   </h5><h5>  @Html.DisplayFor(model => model.Fecha_salida) </h5>
                    <h5 class=" text-warning">Numero de habitación:  </h5><h5>   @Html.DisplayFor(model => model.Num_Hab) </h5>


                </div>
            </div>

            <div class="col-sm-12">
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 mt-5">
                        <h2 class="text-warning">Servicios comedor</h2>
                    </div>
                    <div class="col-md-4 mt-5">
                        <div class="text-right">
                            <h2>Precio</h2>
                        </div>
                    </div>
                </div>
            </div>

       

            @foreach (var item in (List<Negocio.Empresa.ListMinuta>)ViewBag.Minuta)
            {
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <h6>@item.DESCRIPCION</h6>
                        </div>
                        <div class="col-md-4">
                            <div class="text-right">
                                <h6>
                                    @(String.Format("${0:n0}", item.PRECIO))
                                </h6>
                            </div>
                                

                        </div>
                    </div>
                </div>

            }
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <h5>Pagos</h5>
                    </div>
                    <div class="col-md-4">
                        <div class="text-right">
                            <h5>Valores</h5>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <h6>Total Habitación</h6>
                    </div>
                    <div class="col-md-4">
                        <div class="text-right">
                            <h6><strong>$@Html.DisplayFor(model => model.total_habitacion)</strong></h6>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6>Detalle Habitación</h6>
                        <p>@Html.DisplayFor(model => model.DetalleHabitacion)</p>
                    </div>
                    <div class="col-md-4">
                        <div class="text-right">
                            <h6><strong> </strong></h6>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="bg-dark" />

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <h6>Total Servicios comedor</h6>
                    </div>
                    <div class="col-md-4">
                        <div class="text-right">
                            <h6><strong>$@Html.DisplayFor(model => model.total_comedor)</strong></h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="text-warning">Total Final</h5>
                    </div>
                    <div class="col-md-4">
                        <div class="text-right">
                            <h5><strong>$@Html.DisplayFor(model => model.total_OC)</strong></h5>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-12 mt-5">
                <p>Todos las facturas se extienden a nombre de la empresa de la compañia</p>
                <p><strong>Si tiene  cualquier tipo de pregunta  acerca de esta factura, póngase en contacto con la empresa</strong></p>
            </div>

            <div class="col-md-12">
                <div class="text-center text-warning">
                    <h5 class="mt-5"><strong>Gracias por su confianza!</strong></h5>
                </div>
            </div>
        </div>

   
        </div>