@model HOSTAL.ENTIDADES.ORDEN_COMPRA

@{
    ViewBag.Title = "EditarOrdenCompra";
    Layout = "~/Views/Shared/Layout_Usuarios/_Layout_Home_Empresa.cshtml";
}

<h2>EditarOrdenCompra</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>ORDEN_COMPRA</h4>
    <hr />
     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.NUMERO_OC) 

    <div class="form-group">
        @Html.LabelFor(model => model.FECHAINGRESO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FECHAINGRESO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FECHAINGRESO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FECHASALIDA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FECHASALIDA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FECHASALIDA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HUESPED_RUT_H, "RUT_HUESPED", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HUESPED_RUT_H, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HUESPED_RUT_H, "", new { @class = "text-danger" })
        </div>
    </div>

     
    <div class="form-group">
        @Html.LabelFor(model => model.HABITACION_NUMERO_HB, "NUMERO_HABITACION", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HABITACION_NUMERO_HB, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HABITACION_NUMERO_HB, "", new { @class = "text-danger" })
        </div>
    </div>

    
    <div class="form-group">
        @Html.LabelFor(model => model.EMPLEADO_RUT_EMP, "RUT_EMPLEADO", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EMPLEADO_RUT_EMP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EMPLEADO_RUT_EMP, "", new { @class = "text-danger" })
        </div>
    </div>

   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
