@model HOSTAL.ENTIDADES.ORDEN_PEDIDO

@{
    ViewBag.Title = "Detalle_Pedido";
    Layout = "~/Views/Shared/Layout_Usuarios/_Layout_Home_Empleado.cshtml";
}

<h2>Detalle_Pedido</h2>

<div>
    <h4>ORDEN_PEDIDO</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_ORDEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_ORDEN)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CANTIDAD_PRODUCTOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANTIDAD_PRODUCTOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.EMPLEADO.NOMBRE_EMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADO.NOMBRE_EMP)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PROVEEDOR.NOMBRE_PROV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDOR.NOMBRE_PROV)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ORDENPEDIDO }) |
    @Html.ActionLink("Back to List", "Listar_Orden_Pedido")
</p>
