
@{  
    ViewBag.Title = "Lista_Productospedidosenproceso";
    Layout = "~/Views/Shared/Layout_Usuarios/_Layout_Home_Empleado.cshtml";
}
 


<div class="row container">

    <div class="col-md-12">
        <div class="col-md-12">
            <h2><strong>Lista</strong> Productos solicitados</h2>
        </div>


        <div class="table-responsive">
            <table id="Tabla" class="table table-striped table-hover table-sm">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Número detalle</th>
                        <th>Cantidad Solicitada </th>
                        <th>Nombre producto     </th>
                        <th>Precio Producto     </th>
                        <th>Precio total productos</th>


                    </tr>
                </thead>


                <tbody>
                    @foreach (var elemento in (List<Negocio.Empleador.ListadoProductos>)ViewBag.listorden)
                    {
                        <tr>
                            <td>@elemento.id_Detalle              </td>
                            <td>@elemento.cantidad_solicitada     </td>
                            <td>@elemento.nombre_producto         </td>
                            <td>@elemento.precio_producto         </td>
                            <td>@elemento.total_productos         </td> 


                        </tr>


                    }
                </tbody>
            </table>
        </div>

    </div>
</div>